<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title></title>  
    <link rel="stylesheet" href="css/pintuer.css">
    <link rel="stylesheet" href="css/admin.css">
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" href="css/bootstrap-datetimepicker.css"/>
    <script src="js/jquery.js"></script>
    <script src="js/pintuer.js"></script>  
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
      <div class="panel-title">合同基本信息添加</div>
        <table class="table table-striped table-bordered table-hover">
          <tbody>
              <tr>
                <div class="row">
                    <div class="col-md-2"><td>合同编号</td></div>
                    <div class="col-md-4">
                      <td>
                        <form role="form">
                          <div class="form-group">
                              <input type="text" class="form-control" id="name" placeholder="请输入合同编号"/>
                          </div>
                        </form>
                      </td>
                    </div>
                    <div class="col-md-2"><td>合同名称</td></div>
                    <div class="col-md-4">
                      <td>
                        <form role="form">
                          <div class="form-group">
                              <input type="text" class="form-control" id="name" placeholder="请输入合同名称"/>
                          </div>
                        </form>
                      </td>
                    </div>
                </div>
              </tr>
              <tr>
                  <div class="row">
                      <div class="col-md-2"><td>合同类型</td></div>
                      <div class="col-md-4">
                        <td>
                           <select id="contract" name="contract" class="selectpicker show-tick form-control" data-live-search="false">
                                        <option value="0">--请选择合同类型--</option>
                                        <option value="1">施工合同1</option>
                                        <option value="2">施工合同2</option>
                            </select> 
                        </td>
                      </div>
                      <div class="col-md-2"><td>承建单位</td></div>
                      <div class="col-md-4">
                        <td>
                          <form role="form">
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" placeholder="请输入合同名称"/>
                            </div>
                          </form>
                        </td>
                      </div>
                  </div>
              </tr>
              <tr>
                <div class="row">
                    <div class="col-md-2"><td>签订日期</td></div>
                    <div class="col-md-4">
                      <td style="position: relative;">
                        <div class="input-append date form_datetime">
                          <input size="16" type="text" value="" readonly>
                          <span class="add-on"><i class="icon-th"></i></span>
                       </div>
                      </td>
                    </div>
                    <div class="col-md-2"><td>合同金额</td></div>
                    <div class="col-md-4">
                      <td>
                        <form role="form">
                          <div class="form-group">
                              <input type="text" class="form-control" id="name" placeholder="请输入合同金额"/>
                          </div>
                        </form>
                      </td>
                    </div>
                </div>
              </tr>
              <tr>
                <div class="row">
                    <div class="col-md-2"><td>项目联系人</td></div>
                    <div class="col-md-4">
                      <td>
                         <form role="form">
                          <div class="form-group">
                              <input type="text" class="form-control" id="name" placeholder="请输入项目联系人"/>
                          </div>
                        </form>
                      </td>
                    </div>
                    <div class="col-md-2"><td>选择概算</td></div>
                    <div class="col-md-4">
                      <td>
                        <form role="form">
                          <div class="form-group">
                              <input type="text" class="form-control" id="name" placeholder="请输入概算"/>
                          </div>
                        </form>
                      </td>
                    </div>
                </div>
              </tr>
              <tr>
                  <div class="row">
                      <div class="col-md-2"><td>备注</td></div>
                      <div class="col-md-4">
                        <td>
                           <textarea name="beizhu" class="form-control" id="beizhu" cols="6" rows="3"></textarea>
                        </td>
                      </div>
                      <div class="col-md-2">
                        <td>合同附件</td>
                      </div>
                      <div class="col-md-4">
                        <td>
                          <div class="form-group">
                            <input type="file" id="inputfile">
                        </div>
                        </td>
                      </div>
                  </div>
              </tr>
              <tr>
                <div class="row">
                  <div class="col-md-12">
                    <td colspan="4">
                      <div class="button-group" style="float: right;">
                        <button>保存</button> 
                          <button>修改</button> 
                          <button>撤销</button> 
                      </div>
                    </td>
                  </div>
                </div>
              </tr>
          </tbody>
        </table>
    <div class="panel-title">信息列表</div>
    <script src="js/bootstrap-datetimepicker.min.js"></script>
    <script src="js/bootstrap-datetimepicker.zh-CN.js"></script>
    <script>
      $(".form_datetime").datetimepicker({
        format: "yyyy-mm-dd hh:ii",
        autoclose: true,
        todayBtn: true,
        language:'zh-CN',
        pickerPosition:"bottom-left"
      });
    </script>
</body>
</html>